{% load static %}

<!-- client section -->
<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                VEHICLE TIPS
            </h2>
        </div>
    </div>
    <div class="container px-0">
        <div id="customCarousel2" class="carousel  slide" data-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            According to recent studies, 5 percent of all motor vehicle fatalities
                                            are clearly caused by
                                            automobile maintenance
                                            neglect.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            The cooling system should be completely flushed and refilled about every
                                            24 months. The level,
                                            condition, and
                                            concentration of coolant should be checked. (A 50/50 mix of anti-freeze
                                            and water is usually
                                            recommended.)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Never remove the radiator cap until the engine has thoroughly cooled.
                                            The tightness and
                                            condition of drive
                                            belts, clamps and hoses should be checked by a pro.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Change your oil and oil filter as specified in your manual, or more
                                            often (every 3,000 miles)
                                            if you make
                                            frequent short jaunts, extended trips with lots of luggage or tow a
                                            trailer.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Replace other filters (air, fuel, PCV, etc.) as recommended, or more
                                            often in dusty
                                            conditions. Get engine
                                            drivability problems (hard stops, rough idling, stalling, diminished
                                            power, etc.) corrected at
                                            a good shop.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            A dirty windshield causes eye fatigue and can pose a safety hazard.
                                            Replace worn blades and
                                            get plenty of
                                            windshield washer solvent.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Have your tires rotated about every 5,000 miles. Check tire pressures
                                            once a month; let the
                                            tires cool down
                                            first. Don't forget your spare and be sure your jack is in good
                                            condition.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Check your owner's manual to find out what fuel octane rating your car's
                                            engine needs then buy
                                            it.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Keep your tires inflated to the proper levels. Under-inflated tires make
                                            it harder for your
                                            car to move down the
                                            road, which means your engine uses more fuel to maintain speed.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Lighten the load. Heavier vehicles use more fuel, so clean out
                                            unnecessary weight in the
                                            passenger compartment
                                            or trunk before you hit the road.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Use the A/C sparingly. The air conditioner puts extra load on the engine
                                            forcing more fuel to
                                            be used.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Keep your windows closed. Wide-open windows, especially at highway
                                            speeds, increase
                                            aerodynamic drag and the
                                            result is up to a 10% decrease in fuel economy.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Avoid long idling. If you anticipate being stopped for more than one
                                            minute, shut off the car.
                                            Contrary to
                                            popular belief, restarting the car uses less fuel than letting it idle.

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Stay within posted speed limits. The faster you drive, the more fuel you
                                            use. For example,
                                            driving at 65 miles
                                            per hour (mph) rather than 55 mph, increases fuel consumption by 20
                                            percent.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Use cruise control. Using cruise control on highway trips can help you
                                            maintain a constant
                                            speed and, in most
                                            cases, reduce your fuel consumption.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Keep your engine tuned. A fouled spark plug or plugged/restricted fuel
                                            injector can reduce
                                            fuel efficiency as
                                            much as 30 percent.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Inspect the engine's belts regularly. Look for cracks or missing
                                            sections or segments. Worn
                                            belts will affect
                                            the engine performance.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Have the fuel filter changed every 10,000 miles to prevent rust, dirt
                                            and other impurities
                                            from entering the
                                            fuel system.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Change the transmission fluid and filter every 15,000 to 18,000 miles.
                                            This will protect the
                                            precision-crafted
                                            components of the transmission/transaxle.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 mx-auto">
                                <div class="box">
                                    <div class="img-box">
                                        <img src="{% static 'images/s1.png' %}" alt="">
                                    </div>
                                    <div class="detail-box">
                                        <p>
                                            Inspect the suspension system regularly. This will extend the life of
                                            the vehicle's tires.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel_btn-box">
                <a class="carousel-control-prev" href="#customCarousel2" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#customCarousel2" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- end client section -->
