{% extends "base.html" %}
{% load static %}
{% block title %}Register{% endblock title %}

{% block content %}
    <section class="contact_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form_container">
                        <div class="heading_container ">
                            <h2>
                                Create an account
                            </h2>
                        </div>
                        <form method="post" class="mt-0" id="registerForm">
                            <div class="text-center auth-errors" style="margin-top: 5px;margin-bottom: 15px;">
                                {% for error in form.non_field_errors %}
                                    <span class="form__forget"
                                          style="color: red !important;"> {{ error }} </span>
                                {% endfor %}
                                {% for error in form.passwords.errors %}
                                    <span class="form__forget"
                                          style="color: red !important;"> {{ error }} </span>
                                {% endfor %}
                                {% for error in form.password1.errors %}
                                    <span class="form__forget"
                                          style="color: red !important;"> {{ error }} </span>
                                {% endfor %}
                                {% for error in form.password2.errors %}
                                    <span class="form__forget"
                                          style="color: red !important;"> {{ error }} </span>
                                {% endfor %}
                                {% for error in form.username.errors %}
                                    <span class="form__forget"
                                          style="color: red !important;"> {{ error }} </span>
                                {% endfor %}
                                {% for error in form.email.errors %}
                                    <span class="form__forget"
                                          style="color: red !important;"> {{ error }} </span>
                                {% endfor %}
                            </div>

                            {% csrf_token %}

                            <div>
                                <label for="id_username" class="mb-2">Your Username</label>
                                <input type="text" placeholder="Enter Your Username " name="username"
                                       maxlength="150"
                                       autocapitalize="none" autocomplete="username" autofocus=""
                                       required=""
                                       id="id_username"
                                       value="{{ form.username.value|default_if_none:'' }}">
                            </div>
                            <div>
                                <label for="id_email" class="mb-2">Your Email </label>
                                <input type="email" placeholder="Enter Your Email " name="email"
                                       maxlength="254" required=""
                                       id="id_email" value="{{ form.email.value|default_if_none:'' }}">
                            </div>
                            <div>
                                <label for="id_password1" class="mb-2">Password</label>
                                <input type="password" name="password1"
                                       placeholder="Enter Your Password"
                                       autocomplete="new-password" required="" id="id_password1">
                            </div>
                            <div>
                                <label for="id_password2" class="mb-2">Password confirmation</label>
                                <input type="password" name="password2"
                                       placeholder="Enter Your Password"
                                       autocomplete="new-password" required="" id="id_password2">
                            </div>


                            <div class="btn_box ">
                                <button type="submit">
                                    Sign up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-box">
                        <img src="{% static 'images/contact-img.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
